body {
    padding: 50px 20%;
    font-family: merriweather, serif;
}

h1 {
    color: Plum;
    text-transform: uppercase;
}

h1, h2, h3, b, strong {
    color: Plum;
}

h1, h3 {
    text-align: center
}

h2 {
    text-align: right;
    border-bottom: 1px solid DarkSlateGray;
}

hr {
    color: DarkSlateGray;
    border: 1px dotted DarkSlateGray;
    width: 50%;
}

@font-face {
    font-family: 'merriweather';
    src: url('https://fonts.googleapis.com/css?family=Merriweather')
}

p {
    font-color: DarkSlateGray;
    text-align: justify;
    font-style: normal;
}

#number1-achievement {
    color: red;
}

.coolClass > p {
    font-style: italic;
}



